# Documentation available:
# > https://www.mkdocs.org/
## README.md coming soon

This is the new static content generator for DownQuark.
- Beginning with the `doqs` we will then (maybe) attempt to leverage it for the internal content of the site.
